.col-sm-4
  .card.border-primary.mb-3
    .card-header
      = widget.name
      - if user_signed_in?
        = link_to widget_path(widget), method: :delete, data: { confirm: 'Are you sure?' }  do
          %i.fa.fa-trash.pull-right
        = link_to edit_widget_path(widget) do
          %i.fa.fa-edit.pull-right
    .card-body
      %p.card-text= widget.description
