- if user_signed_in?
  .row
    .col-12
      = form_tag new_widget_path, method: :get do
        %button.float-right.btn.btn-primary{ type: :submit } Create widget
  %br

- if @widgets.blank?
  = t('.no_widgets')
= react_component('Widgets', items: @widgets.as_json, signedIn: user_signed_in?)
